#!/bin/bash

# source static function
source {{ remote_bin }}/functions.sh

# need Valet and get form wallet (TO BE UPDATED)
apps_user={{ apps_user }}
apps_pass={{ apps_pass }}
sys_pass={{ sys_pass }}
wls_pass={{ wls_pass }}
curr_date=$(date '+%Y%m%d_%H%M%S')

export STAGE_DIR={{ remote_stage }}/{{ cycle }} ## note staging through cycles
export environment_file={{ environment_file }}
# generate tasks from adop_patch
#    - phase_name: prepare
#      phase_options: ""
#      fs_edition: run

{% for item in adop_patch %}
phase_name={{ item.phase_name }}
phase_options={{ item.phase_options }}
fs_edition={{ item.fs_edition }}

{% if item.phase_name == "prepare" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "apply" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_apply_phase ${fs_edition} ${phase_name} "${phase_options}"

{% elif item.phase_name == "finalise" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "cutover" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "cleanup" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "fs_clone" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "actualise" %}
echo "ADOP cycle: ${phase_name} ${phase_options}"
adop_run_phase ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "jdk_32bit_patch" %}
echo "jdk_32bit_patch: ${phase_options} "
jdk_32bit_patch ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "jdk_64bit_patch" %}
echo "jdk_64bit_patch: ${phase_options} "
jdk_64bit_patch ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "wls_1036_apply" %}
echo "# -- running function: wls_1036_apply"
wls_1036_apply ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "wls_1036_rollback" %}
echo "# -- running function: wls_1036_rollback"
wls_1036_rollback ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oracle_common_apply" %}
echo "# -- running function: ebs_oracle_common_apply"
ebs_oracle_common_apply ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oracle_common_rollback" %}
echo "# -- running function: ebs_oracle_common_rollback"
ebs_oracle_common_rollback ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oracle_webtier_apply" %}
echo "# -- running function: ebs_oracle_webtier_apply"
ebs_oracle_webtier_apply ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oracle_webtier_rollback" %}
echo "# -- running function: ebs_oracle_webtier_rollback"
ebs_oracle_webtier_rollback ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oh1012_apply" %}
echo "# -- running function: ebs_oh1012_apply"
ebs_oh1012_apply ${fs_edition} ${phase_name} ${phase_options} 

{% elif item.phase_name == "ebs_oh1012_rollback" %}
echo "# -- running function: ebs_oh1012_rollback"
ebs_oh1012_rollback ${fs_edition} ${phase_name} ${phase_options} 

{% endif %}

{% endfor %}