#!/bin/bash

# export ORACLE_SID={{ oracle_sid }}
# export ORACLE_BASE={{ oracle_base }}
# export ORACLE_HOME={{ oracle_home }}
# export LISTENER={{ listener_name }}
# export STAGE_DIR={{ remote_stage }}/{{ cycle }} ## note staging through cycles

# extra variables
export PATH={{ oracle_home }}/bin:$PATH

## Checking Conflicts: database : {{ oracle_sid }} on {{ inventory_hostname }}
date

## OPatch checks
{{ oracle_home }}/OPatch/opatch version
{{ oracle_home }}/OPatch/opatch lsinv | grep applied

## Check conflicts with {{ oracle_home }} per list
{% for item in rdbms_conflict_check_list %}
cd {{ remote_stage }}/{{ cycle }}
echo "=========================================================="
echo "Unzipping Patch {{ item }}"
unzip -qo p{{ item }}*.zip
cd {{ item }}
echo "Checking conflict for patch {{ item }} against {{ oracle_home }}"
{{ oracle_home }}/OPatch/opatch prereq CheckConflictAgainstOHWithDetail -ph ./
{% endfor %}

## task Conflict Check completed : {{ oracle_sid }} on {{ inventory_hostname }}
date
