#!/bin/bash
# "{{ ansible_managed }}"

# Setting Path
export PATH={{ oracle_home }}/bin:$PATH

## Start Time
date

## OPatch checks
echo "Version of opatch binary is:"
{{ oracle_home }}/OPatch/opatch version

## Check conflicts with {{ oracle_home }} per list
{% for item in rdbms_conflict_check_list %}
cd {{ remote_stage }}/{{ cycle }}
echo "=========================================================="
echo "Unzipping Patch {{ item }}"
unzip -qo p{{ item }}*.zip
cd {{ item }}
echo "Checking conflict for patch {{ item }} against {{ oracle_home }}"
{{ oracle_home }}/OPatch/opatch prereq CheckConflictAgainstOHWithDetail -ph ./
{% endfor %}

## End time
date
