#!/bin/bash

# this is anisble patching framework created file
# roles/template/patch_opatch.sh

# setting variables / replaced by ansible variables

export ORACLE_SID={{ oracle_sid }}
export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_home }}
export LISTENER= {{ listener_name }}

# extra variables
export PATH=$ORACLE_HOME/bin:$PATH

echo "## stopping database: ${ORACLE_SID} on $(hostname)"
date

sqlplus -s / as sysdba << !
startup;
alter pluggable database all open;
set pages 1000 lines 1000 tab off
select INSTANCE_NUMBER, INSTANCE_NAME, HOST_NAME, VERSION, STARTUP_TIME, STATUS, ARCHIVER, DATABASE_STATUS, INSTANCE_ROLE from v\$instance;

col name for a50
select CON_ID, NAME, OPEN_MODE, OPEN_TIME from v\$pdbs;

!

echo "## starting listener: ${LISTENER} on $(hostname)"
lsnrctl start ${LISTENER}

echo "## task completed: stopping database ${ORACLE_SID} on $(hostname)"
date